[PMGRPCD]
secproto = ssl
mitigation = True
debug = True
pmgrpcdlogfile = pmgrpcd.log
serializelogfile = pmgrpcd_avro.log
ipport = [::]:10000
workers = 20
cisco = False
huawei = False
example = False
examplepath = /tmp/stexamples
zmq = False
zmqipport = tcp://127.0.0.1:50000
kafkaavro = True
onlyopenconfig = False
#kafkasimple = True
#file_exporter_file = dump_output2
#file_importer_file = dump_output



