! 
! flow_to_rd_map: Flow to BGP/MPLS VPN RD map
!
! File syntax is key-based. Read full syntax rules in 'pretag.map.example' in
! this same directory.
!
! nfacctd, sfacctd: valid keys: id, ip, in, out, bgp_nexthop, mpls_label_bottom.
!
! list of currently supported keys follow:
!
! 'id'			SET: BGP-signalled MPLS L2/L3 VPN Route Distinguisher
!			(RD) value. Encoding types #0, #1 and #2 are supported
!			as per rfc4364 in asplain notation as per rfc5396.
! 'ip'                  MATCH: in nfacctd this is compared against the source
!                       IP address of the device originating NetFlow packets;
!                       in sfacctd this is compared against the AgentId field
!                       of received sFlow samples. Expected argument are an IP
!                       address or prefix (ie. XXX.XXX.XXX.XXX/NN). 0.0.0.0/0
!			would match all IPv4 addresses; ::/0 would match all
!			IPv6 addresses.
! 'in'                  MATCH: Input interface.
! 'out'                 MATCH: Output interface.
! 'bgp_nexthop'         MATCH: IPv4/IPv6 address of the next-hop BGP router. In
!                       MPLS-enabled networks this can be also matched against
!			top label address where available (ie. egress NetFlow
!			v9/IPFIX exports).
! 'mpls_vpn_id'		MATCH: MPLS VPN ID. A positive 32-bit unsigned integer
!			is expected as value. In NetFlow/IPFIX this is compared
!			against field types #234 and #235.
! 'mpls_label_bottom'	MATCH: MPLS bottom label value.
!
! Examples:
!
! Maps input interface 100 of router 192.168.1.1 to RD 0:65512:1 - ie.
! a BGP/MPLS VPN Route Distinguisher encoded as type #0 according to
! to rfc4364: <2-bytes ASN>:<value> . Type #2 is equivalent to type #0
! except it supports 4-bytes ASN encoding.
!
id=0:65512:1		ip=192.168.1.1		in=100
!
! Maps the router 192.168.1.1, that is, all interfaces belonging to such
! router to RD 0:65512:1
!
id=0:65512:1		ip=192.168.1.1
!
! Maps input interface 100 of router 192.168.1.1 to RD 1:192.168.1.1:1
! ie. a BGP/MPLS VPN Route Distinguisher encoded as type #1 according 
! to rfc4364: <IPv4 Address>:<value>
!
id=1:192.168.1.1:1	ip=192.168.1.1          in=100
!
! Maps input interface 100 of router 192.168.1.1 to RD 2:4200000000:1
! ie. a BGP/MPLS VPN Route Distinguisher encoded as type #2 according 
! to rfc4364: <IPv4 Address>:<value>
!
id=2:4200000000:1	ip=192.168.1.1          in=100
