! 
! is_symmetric map - asymmetric traffic detection
!
! File syntax is key-based. Read full syntax rules in 'pretag.map.example' in
! this same directory.
!
! nfacctd, sfacctd: valid keys: id, ip, in, bgp_nexthop, src_mac.
!
! list of currently supported keys follow:
!
! 'id'			ID value to assign to a matching packet or flow. The
!			only valid value for this map is '1': rationale is to
!			manually define via this map valid traffic paths out
!			of the routing domain. 
! 'ip'                  In nfacctd it's compared against the source IP address
!                       of the device which is originating NetFlow packets; in
!                       sfacctd this is compared against the AgentId field of
!                       received sFlow samples.
! 'in'  		Input interface 
! 'bgp_nexthop'		BGP next-hop of the flow source IP address (RPF-like).
!			This value is compared against the corresponding BGP
!			RIB of the exporting device.
! 'peer_dst_as'		First AS hop within the AS-PATH of the source IP address
!			(RPF-like). This value is compared against the BGP RIB
!			of the exporting device (see 'bgp_daemon' configuration
!			directive). 
! 'src_mac'		Source MAC address of the flow. Requires NetFlow v9 or
!			sFlow.
!
! A few examples follow.
!
! Private peers and upstream providers can be typically modelled as in the following
! example - a traffic stream is defined symmetric if it enters interface 7 and would
! be routed to 1.2.3.4 after a lookup within the BGP RIB (next-hop being reachable via
! interface 7): 
!
id=1		ip=192.168.2.1	in=7	bgp_nexthop=1.2.3.4

! Public peers can be typically modelled as in the following example if MAC addresses
! are not available through the export protocol (ie. NetFlow v5). It doesn't change
! compared to the previous example, except there are multiple next-hops reachable via
! the same (sub-)interface:
! 
id=1		ip=192.168.1.1 	in=7	bgp_nexthop=1.2.3.4
id=1		ip=192.168.1.1 	in=7	bgp_nexthop=1.2.3.5
id=1		ip=192.168.1.1 	in=7	bgp_nexthop=1.2.3.6

! A way to model a public internet exchange - in case MAC addresses are available:
! 
id=1		ip=192.168.1.1  in=7    bgp_nexthop=1.2.3.4	src_mac=00:01:02:03:04:05
id=1		ip=192.168.1.1  in=7    bgp_nexthop=1.2.3.5	src_mac=00:01:02:03:04:06
id=1		ip=192.168.1.1 	in=7	bgp_nexthop=1.2.3.6	src_mac=00:01:02:03:04:07
