! 
! bgp_src_med_type: BGP source MED (Multi Exit Discriminator) map 
!
! File syntax is key-based. Read full syntax rules in 'pretag.map.example' in
! this same directory.
!
! nfacctd, sfacctd: valid keys: id, ip, in, bgp_nexthop, src_mac.
!
! list of currently supported keys follow:
!
! 'id'			ID value to assign to a matching packet or flow. Other
!			than hard-coded MED values this field accepts also the
!			'bgp' keyword which triggers a BGP lookup and returns
!			its result: useful to handle exceptions.
! 'ip'			MATCH: in nfacctd this is compared against the source
!			IP address of the device originating NetFlow packets;
!			in sfacctd this is compared against the AgentId field
!			of received sFlow samples. Expected argument are an IP
!			address or prefix (ie. XXX.XXX.XXX.XXX/NN). 0.0.0.0/0
!			would match all IPv4 addresses; ::/0 would match all
!			IPv6 addresses.
! 'in'                  Input interface.
! 'bgp_nexthop'         BGP next-hop of the flow source IP address (RPF-like).
!                       This value is compared against the corresponding BGP
!                       RIB of the exporting device.
! 'peer_dst_as'         First AS hop within the AS-PATH of the source IP address
!                       (RPF-like). This value is compared against the BGP RIB
!                       of the exporting device (see 'bgp_daemon' configuration
!                       directive).
! 'src_mac'             Source MAC address of the flow. Requires NetFlow v9,
!			IPFIX or sFlow.
!
! A few examples follow.
!
! Customer connected to router with IP address 192.168.2.1, SNMP ifIndex 7 
!
id=20		ip=192.168.2.1	in=7

