!
! nfacctd configuration example
!
! Did you know CONFIG-KEYS contains the detailed list of all configuration keys
! supported by 'nfacctd' and 'pmacctd' ?
!
! debug: true 
daemonize: false
! aggregate_filter[dummy]: src net 192.168.0.0/16 
aggregate: tag, src_host, dst_host
! plugin_buffer_size: 1024 
pre_tag_map: ./id_map.example
! nfacctd_port: 5678 
! nfacctd_time_secs: true
nfacctd_time_new: true
! plugins: pgsql 
plugins: mysql
sql_db: pmacct
sql_table: acct
sql_table_version: 2 
sql_passwd: arealsmartpwd
sql_user: pmacct
sql_refresh_time: 90
! sql_multi_values: 1000000
! sql_optimize_clauses: true
sql_history: 10m 
sql_history_roundoff: mh
! sql_preprocess: qnum=1000, minp=5
! networks_file: ./networks.example
! ports_file: ./ports.example
