!
! pmacctd configuration example
!
! Did you know CONFIG-KEYS contains the detailed list of all configuration keys
! supported by 'nfacctd' and 'pmacctd' ?
!
! debug: true
daemonize: true
pcap_interface: eth0
plugins: sfprobe
sfprobe_agentsubid: 1402
sfprobe_receiver: 192.168.1.1:6343
sampling_rate: 20

